.roomCard_container {
  display: flex;
  border: 2px solid aqua;
  border-radius: 5px;
  width: 40%;
  margin: 1rem 1rem;
  padding: 0 1rem;
  justify-content: space-between;
}
.roomCart_checkbox {
  display: flex;
}
.roomCart_checkbox div {
  margin-left: 5px;
}
.roomCard_detail {
  display: flex;
  flex-direction: column;
}
.roomCard_detail h2,
p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.roomCart_checkbox input:disabled {
  outline: 1px solid rgba(255, 0, 0, 0.479);
  cursor: not-allowed;
}
.redtext {
  color: red;
}
